/* font css */
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway-Regular.ttf');
}
body{
  font-family: Raleway;
    color: #36454F;
    letter-spacing: 2px;
    font-size: 14px;
}
.headerShadow{
  background-color: white;
  box-shadow: 0 4px 10px -2px gray;
  z-index: 1020;
}
/* animated link */
.animated-link {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.animated-link:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.animated-link:hover:before {
  visibility: visible;
  width: 100%;
}

.bg-gradient-primary-to-secondary {
  background: linear-gradient(90deg, #007bff, #6c757d);
}


/* Background Image */
.bg-img{
    background-image: url(../images/ep.jpg); 
    background-repeat: no-repeat; 
    height: 50vh;
    width: auto;
    background-position: center;  
}

.image-container {
    display: inline-block;
    overflow: hidden;
}

.image-container img {
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.2);
}